<html>
    <head>
        <title>Batuhan'ın Bloğu</title>
    </head>
    <body>
        <div>
            <h1><a href ="">Django Giriş Blog</a></h1>
        </div>
        <div>
            <p>published: 04.02.2022, 22:40</p>
            <h2><a href="">İlk Bloğum</a></h2>
            <p>Çok heyecan verici! bu bloğumda sizlere gündemden bahsedicem genellikle ekonomi , uzay , iktidar vs..</p>
        </div>
        <div>
            <p>published: 04.02.2022, 22:43</p>
            <h2><a href="">İkinci Gönderim</a></h2>
            <p>oyunlarla ilgili blok yazımı paylaşıcam sizler için herşeyi araştrıp buraya yazacağım</p>
        </div>
    </body> 
</html>